name = "dashboard"
main = "./dist/cloudflare/worker.js"
site.bucket = "./dist/cloudflare/public"
compatibility_date = "2024-09-13"
compatibility_flags = [ "nodejs_compat" ]

[build]
command = "pnpm run build"

[[d1_databases]]
binding = "FORMS_DB"
database_name = "forms"

# Change to your test database
database_id = "ea1e90b6-9ed0-44ec-8a82-05417fdcc638"
