@import '@fontsource/fira-mono';
@import '@fontsource/geist-sans';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--font-body: 'Geist Sans', -apple-system, Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	--font-mono: 'Fira Mono', monospace;

	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
  overflow-x: hidden;
}

#SVELTEUI_PROVIDER {
	display: contents;
}
